body {
    background-color: Black;
    color: white;
    margin: 15pt;
    font-family: sans-serif;
}
h1 {
    color: red;
    text-align: center;
    font-size: 53pt;
    margin-bottom: 8pt;
}
h2 {
    font-size: 34pt;
    color: red;
    margin: 8pt;
}
h3 {
    font-size: 23pt;
    color: red;
    margin: 11pt;
}
p {
    font-size: 15pt;
    padding: 8pt;
    margin: 15pt;
    margin-right: 300pt;
}
b, a {
  color: DarkRed;
}
img {
    float: right;
    padding-right: 23pt;
}
th, td {
    border-style: solid;
    font-size: 15pt;
    text-align: center;
}
table {
    margin-left: 195pt;
    padding-bottom: 15pt;
}
#About {
    border-style: solid;
    border-width: 2pt;
    border-radius: .5em;
}
#About img {
    padding-top: 23pt;
    height: 166pt;
    width: 216pt;
}
#Why {
    border-style: solid;
    border-width: 2pt;
    border-radius: .5em;
}
#Why img {
    height: 261pt;
    width: 434pt;
    padding-right: 38pt;
}
#How {
    border-style: solid;
    border-width: 2pt;
    border-radius: .5em;
}
#Good {
    border-style: solid;
    border-width: 1pt;
    border-radius: .5em;
}
#Good img {
    padding-top: 23pt;
    height: 194pt;
    width: 300pt;
}
#Bad {
    border-style: solid;
    border-width: 1pt;
    border-radius: .5em;
}
#Bad img {
    padding-top: 23pt;
    height: 319pt;
    width: 206pt;
}
#Bad table {
    margin-left: 30pt;
    padding-bottom: 75pt;
}
#Info p {
    font-size: 11pt;
    padding: 0pt;
}
